* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background-color: #eeeeee;
}

a {
	color: inherit;
	text-decoration: none;
}

@font-face {
	font-family: "Proxima Nova";
	src: url("/fonts/ProximaNova-Black.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Proxima Nova Regular";
	src: url("/fonts/ProximaNova-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Proxima Nova Thin";
	src: url("/fonts/ProximaNovaT-Thin.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Proxima Nova Light";
	src: url("/fonts/ProximaNova-Light.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Proxima Nova LightIt";
	src: url("/fonts/ProximaNova-LightIt.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Proxima Nova Bold";
	src: url("/fonts/ProximaNova-Bold.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Proxima Nova Semibold";
	src: url("/fonts/ProximaNova-Semibold.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}
